.img-container {
  height: 500px;
  width: 500px;
}

#app-title {
  text-align: center;
}

#sign-in {
  margin: 2%;
}

.container-form {
  background-color: rgb(218, 221, 224);
  border-radius: 2%;
  text-align: center;
}

.register-button {
  margin-left: 2%;
  padding: 0.5rem 1rem;
  width: 445px;
}

.shadow-box {
  box-shadow: rgba(0, 0, 0, 0.12) 5px 5px 5px, rgba(0, 0, 0, 0.24) 5px 5px 5px;
}