.sales-container {
  /* box-shadow: rgba(0, 0, 0, 0.349) 0px 22px 70px 4px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 15px;
  display: flex;
  height: 80vh;
  margin: 2% auto 2%;
  padding: 1%;
  width: 90vw;
}

.sale-card {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin: 5px;
  width: 350px;
}

.order {
  align-items: center;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.status {
  /* border: 1px solid black; */
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.date-and-price {
  /* border: 1px solid black; */
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}